<?xml version="1.0"?>
<appSettings>
    <!-- Possible workaround for KB2656351 -->
    <add key="aspnet:MaxHttpCollectionKeys" value="2001" />

    <add key="EnableViewComponentStatusDebug" value="false"/>
    <!--2FA Login Mode(N,O,M)-->
    <add key="2FALoginMode" value="O"/>

    <!--2FA Host name-->
    <add key="2FAPrimaryGatewayHostName" value="172.24.244.104"/>
    <add key="2FASecondaryGatewayHostName" value="172.24.244.104"/>
    <add key="2FAPrimaryGatewayPort" value="9091"/>
    <add key="2FASecondaryGatewayPort" value="9091"/>
    <add key="2FAValidityWnd" value="100"/>
  
    <!--Enable BTAForm3 Barcode Check-->
    <add key="EnableBarcodeCheck" value="false"/>

    <!-- Server Environment -->
    <add key="ServerEnvironment" value="MAS-TEST"/>

    <!--Project Resource-->
    <add key="ProjectResourcePath" value="~/ProjectResource/MAS/"/>

    <!--Payment Button Enable-->
    <add key="EnablePaymentButton" value="true"/>

    <!-- Error Handling -->
    <add key="DisplayFriendlyErrorPage" value="false"/>
    <!-- End Error Handling -->

    <!-- SSL Validation Check -->
    <!-- This should be disabled in production!-->
    <add key="IgnoreSSLValidationErrors" value="true"/>
    <!-- End SSL Validation Check -->

    <!-- Bypass SingPass Login -->
    <!-- This should be disabled in production!-->
    <add key="BypassSingPassLogin" value="true"/>
    <add key="ValidateUENFormatBeforeDBCheck" value="true"/>
    <!-- Bypass SingPass Login -->

    <!-- Nevis SingPass Login -->
    <add key="NevisSingPassLogin" value="true"/>
    <!-- Nevis SingPass Login -->
    
    <!--Start Antivirus Setting-->
    <add key="EnableAVScanForFileUpload" value="true"/>
    <add key="SophosAVHostNameOrIP" value="localhost"/>
    <add key="SophosAVPort" value="4010"/>
    <!--End Antivirus Setting-->

    <!-- Start DownloadExtensionCaching-->
    <!-- PublishedResourceExtension for Internet, ResourceExtension for Intranet-->
    <add key="PublishedResourceExtension" value="publishresource"/>
    <!--<add key="ResourceExtension" value="resource"/>-->
    <!-- End DownloadExtensionCaching-->

    <!-- Start Calling to MAS PSI Common Services-->
    <add key="MASPSiCommonServiceApplicationID" value="5FE997B9-EA59-4EDE-91CB-9F7CA4D69D07" />
    <!-- using different type PSI, SingPassIDP, DownPage, values are only Redirect or PSI-->
    <add key="MASSingPassType" value="PSI" />
    <add key="MASSingPassRedirectURL" value="~/Public/Login/DownTime.aspx" />
    <!-- End Calling to MAS PSI Common Services-->

    <!-- Start Abstract Document Storage Factory -->
    <add key="SystemEnvironment" value="INTERNET" />
    <add key="INTRANET_DocumentStorageMode" value="DISK"/>
    <add key="INTERNET_DocumentStorageMode" value="DISK"/>
    <add key="DocumentStorageMode_Disk_StoragePath_INTERNET" value="G:\DJA\Data\External\" />
    <add key="DocumentStorageMode_TEMP_HTML_TO_PDF" value="G:\DJA\Data\External\" />
    <!-- End Abstract Document Storage Factory -->

    <!-- Adobe Configuration-->
    <add key="AdobeAuthenticateBeforeUse" value="true"/>
    <!-- Values are ignore if false-->
    <!--<add key="AdobeLCUserName" value="ms1dj" />
  <add key="AdobeLCPassword" value="Euro2012" />-->
    <!-- End Adobe Configuration-->

    <!-- Upload Check Flag Configuration-->
    <add key="FileUploadCheckFlag_MimeType" value="true"/>
    <add key="FileUploadCheckFlag_Extension" value="true"/>
    <add key="FileUploadCheckFlag_Size" value="true"/>
    <add key="FileUploadMax_SizeDisplayOffsetMegaByte" value="-3"/>


    <!-- End Upload Check Flag Configuration-->

    <!-- Bridge Configuration Configuration-->
    <!--Enable/Disable securing of bridge messages. Must be consistent with server setting-->
    <add key="BridgeSecureMessageFlag" value="true"/>
    <add key="BridgeSecureMessageKey" value="E5D361A2-F6F3-4C64-B806-8EFD1ACC48EC"/>
    <add key="BridgeEnabledFlag" value="true"/>
    <add key="BridgeEndpointUrl" value="/handlesubmissionbridge"/>
    <!-- End Bridge Configuration Configuration-->
    <add key="PrivacyStatement" value="~/PrivacyStatement.aspx"/>
    <add key="GovernmentPrivacyStatement" value="~/GovernmentPrivacyStatement.aspx"/>
    <add key="MASPrivacyStatement" value="~/MASPrivacyStatement.aspx"/>
    <!--Logging Path-->
    <add key="LoggingPath" value="G:/DJA/Logs/App"/>

    <add key="SD_Extension_URL" value="/Module/SD/ExtendRegistration.aspx?id={0}"/>
    <add key ="EXTPORTAL_BASEADDRESS" value="https://172.24.244.230/ExtPortal"/>
    <add key ="INTPORTAL_BASEADDRESS" value="https://172.24.242.226/IntPortal"/>

    <!-- FileSyncStorage CR-->
    <add key="FileSyncBridgeSharedKey" value="A9B6CA4C-B317-4BCB-B19A-FC40B4B84D47"/>

    <!-- ReceiptView CR-->
    <add key="ReceiptViewBridgeSharedKey" value="A9B6CA4C-B317-4BCB-B19A-FC40B4B84D47"/>
    <add key="ReceiptViewEndpointUrl" value="/public/Payment/PayReceipt.aspx?RN={0}&amp;DT={1}&amp;SIG={2}"/>

    <add key="CheckComponentStatusSharedKey" value="A9B6CA4C-B317-4BCB-B19A-FC40B4B84D47"/>
    <add key="CheckComponentStatusServiceEndpointUrlGetAdobeConfig" value="/_operation/c.svc/GetAdobeConfig?DT={0}&amp;SIG={1}"/>
    <add key="CheckComponentStatusServiceEndpointUrlGetSophosConfig" value="/_operation/c.svc/GetSophosConfig?DT={0}&amp;SIG={1}"/>
    <add key="CheckComponentStatusServiceEndpointUrlGetDBConfig" value="/_operation/c.svc/GetDBConfig?DT={0}&amp;SIG={1}"/>
    <add key="CheckComponentStatusServiceEndpointUrlGetPSiConfig" value="/_operation/c.svc/GetPSiConfig?DT={0}&amp;SIG={1}"/>
    <add key="CheckComponentStatusServiceEndpointUrlCheckExtAdobe" value="/_operation/c.svc/CheckExtAdobe?DT={0}&amp;SIG={1}"/>
    <add key="CheckComponentStatusServiceEndpointUrlCheckExtSophos" value="/_operation/c.svc/CheckExtSophos?DT={0}&amp;SIG={1}"/>
    <add key="CheckComponentStatusServiceEndpointUrlCheckExtDB" value="/_operation/c.svc/CheckExtDB?DT={0}&amp;SIG={1}"/>
    <add key="CheckComponentStatusServiceEndpointUrlCheckExtPSi" value="/_operation/c.svc/CheckExtPSi?DT={0}&amp;SIG={1}"/>

    <!-- Email Recovery Log-->
    <add key="SMTPErrorEmailRecoveryPath" value="G:\DJA\Data\Email\{0}\{1}" />

    <!-- Default.aspx Buttons -->
    <add key="DefaultPageEnable_BTN_SHR" value="True" />
    <add key="DefaultPageEnable_BTN_DBT" value="True" />
    <add key="DefaultPageEnable_BTN_BTO" value="True" />
    <add key="DefaultPageEnable_BTN_CIS" value="True" />
    <add key="DefaultPageEnable_BTN_BTA" value="True" />
    <add key="DefaultPageEnable_BTN_SIC" value="True" />

    <add key="hl_SHR" value="~/Public/SD/SearchOffers.aspx?idx=SHR" />
    <add key="hl_DBT" value="~/Public/SD/SearchOffers.aspx?idx=DBT" />
    <add key="hl_BTO" value="~/Public/SD/SearchOffers.aspx?idx=BTO" />
    <add key="hl_CIS" value="http://masnet.mas.gov.sg/opera/sdrprosp.nsf/LeftFrame?OpenFrameset&amp;LayerVal=C&amp;Frame=RightPane&amp;SRC=/opera/sdrprosp.nsf/vewPublicLatestCIS?OpenView" />
    <add key="hl_BTA" value="~/Public/Listing/BTListing.aspx" />
    <add key="hl_SIC" value="~/Public/MnA/SearchMA.aspx" />

    <add key="ql_SHR" value="~/Public/SD/SearchOffers.aspx?idx=SHR" />
    <add key="ql_DBT" value="~/Public/SD/SearchOffers.aspx?idx=DBT" />
    <add key="ql_BTO" value="~/Public/SD/SearchOffers.aspx?idx=BTO" />
    <add key="ql_CIS" value="http://masnet.mas.gov.sg/opera/sdrprosp.nsf/LeftFrame?OpenFrameset&amp;LayerVal=C&amp;Frame=RightPane&amp;SRC=/opera/sdrprosp.nsf/vewPublicLatestCIS?OpenView" />

    <add key="CIS_SCHEME_DEFAULT_HISTORY_WINDOW_MTH" value="1" />
    <add key="CIS_SCHEME_APPLICANT_UPDATE_EFFECTIVE_DATE_FOR_CLOSED_PROJECT_WINDOW_MTH" value="3" />

    <!-- exeHtmlToPDF-->
    <add key="exeHtmlToPDF_Timeout" value="20000" />
    <add key="exeHtmlToPDF_Executable" value="bin\\wkhtmltopdf.exe" />
</appSettings>
