<?xml version="1.0" encoding="utf-8"?>
<!--Audit Trail Configuration-->
<iConnect.auditTrail autoFlush="true">
  <storageProviders>
    <!--<add name="singleTable" type="NCS.IConnect.AuditTrail.SingleTableStorageProvider, NCS.IConnect.AuditTrail" 
           applicationName="Sample" database="Sample" encoder="defaultEncoder" />-->
    <add name="multipleTable" type="NCS.IConnect.AuditTrail.MultipleTableStorageProvider, NCS.IConnect.AuditTrail" applicationName="MASOPERAIIInternet" database="MASOPERAIIInternetDatabase" auditTableSuffix="_A" encoder="defaultEncoder" />
    <add name="actionLog" type="NCS.IConnect.AuditTrail.ActionStorageProvider, NCS.IConnect.AuditTrail" applicationName="MASOPERAIIInternet" database="MASOPERAIIInternetDatabase" />
  </storageProviders>
  <encoders>
    <add name="defaultEncoder" type="NCS.IConnect.AuditTrail.Encoder, NCS.IConnect.AuditTrail" />
  </encoders>
  <tableMappings>
    <add name="T_IC_ROLES_A" transactionTableName="T_IC_ROLES_A" />
  </tableMappings>
</iConnect.auditTrail>