<?xml version="1.0" encoding="utf-8" ?>
<cachingConfiguration defaultCacheManager="Default Cache Manager">
  <cacheManagers>
    <add expirationPollFrequencyInSeconds="60"
         maximumElementsInCacheBeforeScavenging="1000"
         numberToRemoveWhenScavenging="10"
         backingStoreName="Null Storage"
         name="Default Cache Manager" 
		 type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    <add expirationPollFrequencyInSeconds="60"
         maximumElementsInCacheBeforeScavenging="1000"
         numberToRemoveWhenScavenging="10"
         backingStoreName="Null Storage"
         name="Loading Scenario Cache Manager"
		 type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
  </cacheManagers>
  <backingStores>
    <add encryptionProviderName=""
         type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"
         name="Null Storage" />
  </backingStores>
</cachingConfiguration>
