<?xml version="1.0" encoding="utf-8"?>
<!--Code Table configurations-->
<iConnect.codeTable defaultProvider="DbCodeTableProvider">
  <codeTableProviders>
    <add applicationName="MASOPERAIIInternet" database="MASOPERAIIInternetDatabase" name="DbCodeTableProvider" type="NCS.IConnect.CodeTable.DbCodeTableProvider, NCS.IConnect.CodeTable" />
  </codeTableProviders>
  <bindingOptions>
    <control name="DropDownList" type="System.Web.UI.WebControls.DropDownList,System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" appendEmptyItem="true" emptyItemDisplayText="Please select a option" emptyItemValue="" displayTextFormat="{CODE}-{VALUE}" valueFormat="{CODE}" />
    <default name="default" appendEmptyItem="false" emptyItemDisplayText="" emptyItemValue="" displayTextFormat="{CODE}-{VALUE}" valueFormat="{CODE}" />
  </bindingOptions>
  <cache enabled="true" expirationTime="00:30:00" cacheManager="Default Cache Manager" />
</iConnect.codeTable>