<?xml version="1.0" encoding="utf-8" ?>
<NetFuture.dataMapping>
  <namingConverter type="Net.Future.DataMappings.AspNetNamingConverter, Net.Future.DataMappings"/>
  <sourceSettings>
    <add name="Decimal" type="System.Decimal" formatString="#.#00.00"/>
    <add name="DateTime" type="System.DateTime" formatString="dd-MM-yyyy"/>
  </sourceSettings>
  <controlSettings>
    <add name="DropDownList" type="System.Web.UI.WebControls.DropDownList, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" bindingProperty="SelectedValue"/>
    <add name="CheckBox" type="System.Web.UI.WebControls.CheckBox, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" bindingProperty="Checked"/>
    <add name="RadioButtonList" type="System.Web.UI.WebControls.RadioButtonList, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" bindingProperty="SelectedValue"/>
  </controlSettings>
</NetFuture.dataMapping>
