<?xml version="1.0" encoding="utf-8" ?>
<!--Data Access Helper-->
<iConnect.dataAccess>
  <systemFields>
    <add name="VersionNo"  fieldName="VERSION_NO" />
    <add name="TransactionId"  fieldName="TRANSACTION_ID" />
    <add name="CreatedBy"  fieldName="CREATED_BY" />
    <add name="CreatedTime"  fieldName="CREATED_TIME" />
    <add name="LastUpdatedBy"  fieldName="LAST_UPDATED_BY" />
    <add name="LastUpdatedTime"  fieldName="LAST_UPDATED_TIME" />
  </systemFields>
  <commands>
    <add name="Select" format="P_{TableName}_S" />
    <add name="Delete" format="P_{TableName}_D" />
    <add name="Update" format="P_{TableName}_U" />
    <add name="Insert" format="P_{TableName}_I" />
  </commands>
  <parameters>
    <add name="Current" format="p_{DataColumnName}" />
    <add name="Original" format="o_{DataColumnName}" />
  </parameters>
  <schemaMappings>
    <add name="dataTableName" format="T_{TableName}" />
    <add name="dataColumnName" format="{DataColumnName}" />
  </schemaMappings>
</iConnect.dataAccess>