<?xml version="1.0" encoding="utf-8" ?>
<loggingConfiguration tracingEnabled="true" defaultCategory="General">
  <logFilters />
  <categorySources>
    <add name="General" switchValue="All">
      <listeners>
        <add name="Database Destination" />
        <add name="Event Log Destination" />
        <!--<add name="File Destination" />-->
      </listeners>
    </add>
    <add name="EventLog" switchValue="All">
      <listeners>
        <add name="Event Log Destination" />
      </listeners>
    </add>
    <add name="Database" switchValue="All">
      <listeners>
        <add name="Database Destination" />
      </listeners>
    </add>
    <add name="FileLog" switchValue="All">
      <listeners>
        <!--<add name="File Destination" />-->
      </listeners>
    </add>
  </categorySources>

  <specialSources>
    <allEvents switchValue="All" name="All Events" />
    <notProcessed switchValue="All"
									name="Unprocessed Category" />
    <errors switchValue="All"
						name="Logging Errors &amp; Warnings" >
      <listeners>
        <add name="Event Log Destination"/>
      </listeners>
    </errors>
  </specialSources>

  <listeners>
    <add name="File Destination"
				 type="NCS.Utility.Logging.FileTraceListener, NCS.Utility.Logging"
				 listenerDataType="NCS.Utility.Logging.FileTraceListenerData, NCS.Utility.Logging"
				 fileName ="{0}.log"
         loggingPathSetting = "LoggingPath"
				 header="-----------------------------------------------------------"
				 footer="-----------------------------------------------------------"
				 formatter="Text Formatter"
				/>
    <add name="Event Log Destination"
			 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
			 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
			 source ="MAS OPERII Log"
			 formatter="Text Formatter"
			 machineName="."
			 log="Application"
				/>
    <add name="Database Destination"
					 type="NCS.Utility.Logging.FormattedDatabaseTraceListener, NCS.Utility.Logging"
					 listenerDataType="NCS.Utility.Logging.FormattedDatabaseTraceListenerData, NCS.Utility.Logging"
					 connectionStringName="MASOPERAIIInternetDatabase"
					 formatter="Text Formatter"
					 applicationName="MASOPERAIIInternet"
				/>
  </listeners>

  <formatters>
    <add
			name="Text Formatter"
			type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
			template="Message:             {message}
		Category:            {category}
		Severity:            {severity}
		Activity Id:         {activity}
		Context Items:       {dictionary(
							 {key} : {value})}"/>
  </formatters>
</loggingConfiguration>
