<?xml version="1.0" encoding="utf-8" ?>
<!--
	  formatSpecifications must contain 5 elements separated by semicolon. They will map to 5 iConnect defined formats by sequence:
	  MessageFormat.Default;MessageFormat.Value;MessageFormat.IdValue;MessageFormat.CategoryIdValue;CategoryIdSeverityValue.
	  
	  {0}: Replaced by Id of message.
	  {1}: Replaced by Category of message.
	  {2}: Replaced by Severity of message.
	  {3}: Replaced by Value of message.
	-->
<iConnect.messaging formatSpecifications="{3};{3};{0}: {3};{1} {0}: {3};{2} {1} {0}: {3}">
  <messageProviders>
    <add name="xmlProvider"
         type="NCS.IConnect.Messaging.XmlMessageProvider, NCS.IConnect.Messaging"
         path="~\Messages.xml"/>
  </messageProviders>
</iConnect.messaging>