<?xml version="1.0" encoding="utf-8"?>
<profile enabled="true" defaultProvider="TableProfileProvider">
  <properties>
    <add name="Address" type="string" customProviderData="p_address;string;50" />
    <add name="Age" type="int" customProviderData="p_age;int32;9" />
  </properties>
  <providers>
    <add applicationName="MASOPERAIIInternet" database="MASOPERAIIInternetDatabase" name="TableProfileProvider" setProcedure="MS9DJA.P_IC_USER_INFO_SET_PROPERTIES" readProcedure="MS9DJA.P_IC_USER_INFO_GET_PROPERTIES" deleteInactiveProcedure="MS9DJA.P_IC_USER_INFO_DELETE_INACTIVE" deleteProcedure="MS9DJA.P_IC_USER_INFO_DELETE" getInactiveNoProcedure="MS9DJA.P_IC_USER_INFO_GET_INACTIVE_NO" findProcedure="MS9DJA.P_IC_USER_INFO_FIND_PROFILES" type="NCS.IConnect.Security.SingleTableProfileProvider,NCS.IConnect.Security.Server" />
    <add applicationName="MASOPERAIIInternet" database="MASOPERAIIInternetDatabase" name="DbProvider" type="NCS.IConnect.Security.DbProfileProvider,NCS.IConnect.Security.Server" />
  </providers>
</profile>