<?xml version="1.0" encoding="utf-8"?>
<roleManager defaultProvider="roleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
  <providers>
    <add applicationName="MASOPERAIIInternet" database="MASOPERAIIInternetDatabase" name="roleProvider" type="NCS.IConnect.Security.DbRoleProvider, NCS.IConnect.Security.Server" />
  </providers>
</roleManager>