<?xml version="1.0" encoding="utf-8"?>
<siteMap defaultProvider="DbProvider">
  <providers>
    <clear />
    <add applicationName="MASOPERAIIInternet" menuType="Web" database="MASOPERAIIInternetDatabase" name="DbProvider" type="NCS.IConnect.Security.DbMenuProvider, NCS.IConnect.Security.Server" securityTrimmingEnabled="true" />
  </providers>
</siteMap>