<?xml version="1.0" encoding="utf-8"?>
<!--Security configurations-->
<securityConfiguration defaultAuthorizationInstance="DbActionProvider" defaultSecurityCacheInstance="Caching Store Provider">
  <authorizationProviders>
    <add applicationName="MASOPERAIIInternet" database="MASOPERAIIInternetDatabase" type="NCS.IConnect.Security.DbBusinessActionProvider, NCS.IConnect.Security.Server" name="DbActionProvider" />
    <add applicationName="MASOPERAIIInternet" database="MASOPERAIIInternetDatabase" type="NCS.IConnect.Security.DbAuthorizationRuleProvider, NCS.IConnect.Security.Server" name="DbRuleProvider" />
  </authorizationProviders>
  <securityCacheProviders>
    <add name="Caching Store Provider" type="Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore.CachingStoreProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore" cacheManagerInstanceName="Default Cache Manager" defaultSlidingSessionExpirationInMinutes="10" defaultAbsoluteSessionExpirationInMinutes="60" />
  </securityCacheProviders>
</securityConfiguration>