<?xml version="1.0" encoding="utf-8"?>
<membership defaultProvider="MembershipProvider" userIsOnlineTimeWindow="20">
  <providers>
    <clear />
    <add applicationName="MASOPERAIIInternet" database="MASOPERAIIInternetDatabase" name="MembershipProvider" type="NCS.IConnect.Security.DbMembershipProvider,NCS.IConnect.Security.Server" enablePasswordRetrieval="true" enablePasswordReset="true" requiresUniqueEmail="false" requiresQuestionAndAnswer="true" minRequiredPasswordLength="6" maxPasswordLength="20" minRequiredNonalphanumericCharacters="1" hashAlgorithmType="SHA1" passwordFormat="Encrypted" passwordRepeatWindow="3" daysBeforeSuspend="30" changePasswordOnLogin="true" maxPasswordAge="90" />
  </providers>
</membership>