<?xml version="1.0" encoding="utf-8"?>
<iConnect.state defaultBackingStore="dbBackingStore" scavengingInterval="00:00:10">
  <backingStores>
    <add name="dbBackingStore" type="NCS.IConnect.State.DbBackingStore, NCS.IConnect.State" applicationName="MASOPERAIIInternet" database="MASOPERAIIInternetDatabase" />
  </backingStores>
</iConnect.state>